body{
    background-color: whitesmoke !important;
    width: auto;
    margin: 0;
    height: 100%;
}

.banner{
    display:block;
    width:100%; height:100%;
    object-fit: cover;
}

.container{
    background-color: lightgray;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.filter{
    background-color: ghostwhite;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.item{
    background-color: gray;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.item_img{
    width: auto;
    height: 200px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table th, table td{
    width: 50%;
}

.orderItemInfo  td, .orderItemInfo th{
    width: 10%;
}

.orderItemInfo tr:nth-child(even){
    background-color: white;
}

.orderItemInfo tr{
    background-color: lightgrey;
}
