body{
    background-color: whitesmoke !important;
    width: auto;
    height: 100%;
}

.container{
    background-color: lightgray;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.filter{
    background-color: ghostwhite;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.item{
    background-color: gray;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}